@tailwind base;
@tailwind components;
@tailwind utilities;

.message-form-button {
  background-color: #7a84eb;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

.message-form-button:hover {
  background-color: #636ee6;
}
